<%- include('partials/header') %>

    <h1>Oh No!</h1>
    <h2>Something went terribly wrong!</h2>
    <h3><%= message %></h3>
    <div class="error-stack-container">
      <p><%= errStack %></p>
    </div>

    <a href="/">Go back to the main page</a>

<%- include('partials/footer') %>